<!DOCTYPE html>
<html lang="en">
<!-- head -->
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta name='description' content="{$site.meta_desc|default:''}" />
    <meta name='keywords' content="{$site.meta_key|default:''}" />
    <meta name='robots' content='index,follow' />
    <title>{$page.nav_title|default:'Home'} - {$site.site_title|default:''}</title>
    <link href="{$BASEURL}/resource/doc/images/icon/favicon-operator.png" rel="SHORTCUT ICON" />
    <!-- themes style -->
    {$LOAD_STYLE}
    <link rel="stylesheet" type="text/css" href="{$THEMESPATH}" media="screen" />
    <!-- other style -->
</head>
<!-- body -->
<body class="hold-transition skin-green-light layout-top-nav">
    <!-- load javascript -->
    {$LOAD_JAVASCRIPT}
    <!-- end of javascript	-->
    <!-- layout -->
    <div class="wrapper">
        <header class="main-header">
			<nav class="navbar navbar-static-top">
			  <div class="container">
				<div class="navbar-header">
				  <a href="index2.html" class="logo">
					<!-- mini logo for sidebar mini 50x50 pixels -->
					<span class="logo-mini"><b>CS</b>3.1</span>
					<!-- logo for regular state and mobile devices -->
					<span class="logo-lg"><b>CI</b>smart 3.1</span>
				</a>
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
					<i class="fa fa-bars"></i>
				  </button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="navbar-collapse">
					{include file="$template_sidebar"}
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" class="form-control" id="navbar-search-input" placeholder="Search">
						</div>
					</form>
					<ul class="nav navbar-nav pull-right">
						<!-- User Account Menu -->
						<li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="{$BASEURL}/resource/doc/images/icon/user-image.png" class="user-image" alt="User Image">
                                <span class="hidden-xs">Selamat Datang <b>{$com_user.user_name|upper}</b></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="{$BASEURL}/resource/doc/images/avatar5.png" class="img-circle" alt="User Image">
                                    <p>
                                        {$com_user.user_name|upper}
                                        <small>Member since Nov. 2012</small>
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="{$config->site_url('login/operatorlogin/logout_process')}" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
					</ul>
				</div>
				<!-- /.navbar-custom-menu -->
			  </div>
			  <!-- /.container-fluid -->
			</nav>
		</header>
        <div class="content-wrapper">
            {include file="$template_content"}
        </div>
        <!-- /#page-wrapper -->
    </div>
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 3.1
        </div>
        <strong>Copyright © 2016 <a target="_blank" href="http://te.net.id">PT. Time Excelindo</a>.</strong>
    </footer>
</div>
<!-- /#wrapper -->
<!-- end of layout	-->
</body>
<!-- end body -->
</html>
