<section class="content-heading">
    
</section>
<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-2">
				<div class="panel panel-success">
					<div class="panel-heading with-border">
						<div class="panel-heading">
							<center>
								<div class="panel-title">
									<h5>RENCANA PEMELIHARAAN MINGGU INI</h5>
								</div>
							</center>
						</div>
					</div>
					<div class="panel-body" style="padding-top:2px;">
						<ul class="timeline">

							<!-- timeline time label -->
							<li class="time-label">
								<span class="bg-red">
									10 Feb. 2014
								</span>
							</li>
							<!-- /.timeline-label -->

							<!-- timeline item -->
							<li>
								<!-- timeline icon -->
								<i class="fa fa-envelope bg-blue"></i>
								<div class="timeline-item"  style="margin-left:50px; margin-right:1px;">
									<span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

									<h3 class="timeline-header"><a href="#">Support Team</a> ...</h3>

									<div class="timeline-body">
										...
										Content goes here
									</div>

									<div class="timeline-footer">
										<a class="btn btn-primary btn-xs">...</a>
									</div>
								</div>
							</li>
							<!-- END timeline item -->

							...

						</ul>	
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
			
			<div class="col-md-8">
				<div class="col-md-3">
					<div class="panel panel-success">
						<div class="panel-heading with-border">
							<center>
								<h5 class="panel-title">
									Beban <br/>Saat Ini
								</h5>
							</center>
						</div>
						<div class="panel-body text-center">
							<h4><strong>211.36 MW</strong></h4>
						</div>
						<div class="panel-footer text-center">
							{date("m/d/Y H:i:s")}
						</div>
					</div>
					<!-- /.panel -->
				</div>
				<div class="col-md-3">
					<div class="panel panel-success">
						<div class="panel-heading with-border">
							<center>
								<h5 class="panel-title">
									Beban Tertinggi<br/>Bulan Ini
								</h5>
							</center>
						</div>
						<div class="panel-body text-center">
							<h4><strong>283.82 MW</strong></h4>
						</div>
						<div class="panel-footer text-center">
							{date("m/d/Y H:i:s")}
						</div>
					</div>
					<!-- /.panel -->
				</div>
				<div class="col-md-3">
					<div class="panel panel-success">
						<div class="panel-heading with-border">
							<center>
								<h5 class="panel-title">
									Beban Tertinggi<br/>Sistem
								</h5>
							</center>
						</div>
						<div class="panel-body text-center">
							<h4><strong>283.82 MW</strong></h4>
						</div>
						<div class="panel-footer text-center">
							{date("m/d/Y H:i:s")}
						</div>
					</div>
					<!-- /.panel -->
				</div>
				<div class="col-md-3">
					<div class="panel panel-success">
						<div class="panel-heading with-border">
							<center>
								<h5 class="panel-title">
									ENS <br/>Bulan Januari
								</h5>
							</center>
						</div>
						<div class="panel-body text-center">
							<h4><strong>100 Kwh</strong></h4>
						</div>
						<div class="panel-footer text-center">
							{date("m/d/Y")} 
						</div>
					</div>
					<!-- /.panel -->
				</div>
				<div class="col-md-12">
					<div class="panel">
						<div class="panel-heading">
							
						</div>
						<div class="panel-body">
							<div class="box box-default">
								<div class="box-header with-border">
									<i class="fa fa-bar-chart-o"></i>

									<h3 class="box-title">Line Graphic Basic</h3>

									<div class="box-tools pull-right">
										<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
										</button>
										<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
									</div>
								</div>
								<div class="box-body">
								  <div id="line-chart" style="height: 300px;"></div>
								</div>
								<!-- /.box-body-->
							</div>
						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>
			</div>
			
			<div class="col-md-2">
				<div class="col-md-12">
					<div class="panel panel-success">
						<div class="panel-heading text-center">
								<div class="panel-title">
									SOE SISTEM <br/>KHATULISTIWA
								</div>
						</div>
						<div class="panel-body" style="padding-top:0px;">
							<div class="table-responsive">
								<table class="table table-hover">
								  
								  <tbody>
									<tr>
									  <td>BUPATI-SEKADAU</td>
									  <td><span class="label label-success ">Open</span></td>
									</tr>
									<tr>
									  <td>BUPATI-SEKADAU</td>
									  <td><span class="label label-danger ">Close</span></td>
									</tr>
									<tr>
									  <td>BIKA-PUTUSSIBAU</td>
									  <td><span class="label label-danger ">Close</span></td>
									</tr>
								  </tbody>
								</table>
							</div>
						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>
				<div class="col-md-12">
					<div class="panel panel-success">
						<div class="panel-heading text-center">
							<p>SOE AREA SANGGAU
								<a href="#" class="btn btn-success btn-xs">Export</a>
							</p>
						</div>
						<div class="panel-body" style="padding-top:0px;">
							<table class="table table-hover">
							  <tbody>
								<tr>
								  <td>Otto</td>
								  <td><span class="label label-success ">Open</span></td>
								</tr>
								<tr>
								  <td>Thornton</td>
								  <td><span class="label label-danger ">Close</span></td>
								</tr>
								<tr>
								  <td>Larry the Bird</td>
								  <td><span class="label label-danger ">Close</span></td>
								</tr>
							  </tbody>
							</table>
						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>
			</div>
		</div>
	</div>
</section>